/* Supprime les marges et le padding par défaut */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F9F0C0;
}

/* Style pour l'image */
img {
    width: 100%;
    height: auto;
    display: block;
}